[Desktop Entry]
Type=Application
Version=0.0.0
Name=package-template-flutter
GenericName=General Application
Exec=package-template-flutter %U
Categories=Music;Media;
Keywords=Hello;World;Test;Application;
StartupNotify=true
