Maintainer: "azkadev <azkadev@noemail.com>"
Package: example
Version: 1.0.0+1
Section: x11
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 0
Description: "Demonstrates how to use the bark_flutter plugin."
Homepage: "https://github.com/azkadev"
